@using System.Security.Claims
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css"rel="stylesheet"/>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar">
        @if (User.Identity.IsAuthenticated)
        {
            var identity = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;
            int roleid = Convert.ToInt32(identity.Claims.FirstOrDefault(c => c.Type == "roleid").Value);
            if (roleid == 1)
            {
                <ul>

                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Serie" asp-action="List">Series</a></li>
                    <li><a asp-controller="WatchList" asp-action="Index" asp-route-userid="@roleid">Watchlist</a></li>
                    <li style="float:right"><a asp-controller="Logout" asp-action="Index">Logout</a></li>
                    <li style="float:right"> <a *@ class="navbar-btn btn btn-default">@User.Identity.Name</a></li>
                    
                </ul>

            }

            

        }
        else
        {
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Serie" asp-action="List">Series</a></li>
                <li><a asp-controller="Login" asp-action="Login">Login</a></li>
                <li><a asp-controller="Register" asp-action="Register">Register</a></li>
            </ul>

        }

        </div>
        <div>
            @RenderBody()
        </div>
</body>
</html>
