@using Models

@model WatchListViewModel






    @{
        foreach (var serie in Model.Series)
        {
            
            <li class="list-group-item">@serie.Name</li>


        }
    }

