@using Models

@model WatchListViewModel


<!doctype html>

<head>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>



  @{
      foreach (var serie in Model.Series)
      {

        <li class="list-group-item">@serie.Name</li>

          }
      }
