@model ProfileViewModel
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="col-md-6 img">
            <img src="~/images/LogoSample_ByTailorBrands.jpg" alt="" class="img-rounded">
        </div>
        <div class="col-md-6 details">
            <blockquote>
                Username:<h5>@Model.Profile.Username</h5>
                Email:<h5>@Model.Profile.Email</h5>
            </blockquote>
            <hr /><br /><br />
            <p>
                More features are coming soon!
            </p>
        </div>
    </div>
</div>