body {
    margin: 0;
    padding: 0;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}
.menu li{
    float:left;
}

li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
       
}

    li a:hover {
        text-decoration: none;
        color: #337ab7;
    }     

.reviewtext{
    padding-bottom:100px;
    padding-right:390px;
}

.box {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 250px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.red {
    background-color: #f2dede;
}
.green {
    background-color: #dff0d8;
}
.yellow {
    background-color: #fcf8e3
}

.grey{
    background-color: white;
}
.blue {
    background-color: #d9edf7;
}
.legendatextred{
    position:absolute;
   
}


.legendatextgreen {
    position: absolute;
    left:250px;
}


.legendatextyellow {
    position: absolute;
    left:525px;
}


.legendatextblue {
    position: absolute;
    left:785px;
}


.legendatextgrey {
    position: absolute;
    left:1050px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.watchlist a {
    color:red;
    position:fixed;
    left:70%;
  
    
}
.watchlist a:hover {
   color:black;
   background-color:transparent;
 
}
.btn-primary {
    border-color: #337ab7;
    
}
    .btn-primary:hover {
        color: black;
        background-color: #337ab7;
        border-color: #337ab7;
    }

.topnav {
    overflow: hidden;
    background-color: #333;
    
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
    }

        .topnav a:hover {
            background-color: #337ab7;
            color: black;
        }



.topnav-right {
    float: right;
}
.recommendationtext {
    position:absolute;
    width:570px;
   padding-bottom:100px;
}

.addtowatchlistname{
    border:none;
    font-weight:bold;
}
.addtowatchlistrating{
    width:108.89px;
}
.giverating{
    width:200px;
   margin:0 auto;
}
.ratebutton{
    width:200px;
   position:absolute;
   top:662.5px;
   left:900px;
}